<h1>Shopping List</h1>
<nav>
  <ul>
    <li>Tomato</li>
  </ul>
</nav>
<form method="GET" action="/newItem">
  <input type="text" name="newItem" placeholder="Add a new item"/>
  <input type="submit" value="Add"/>
</form>
